.Employees table {
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border-spacing: 0 1rem;
  }
  .Employees thead {
    box-shadow: var(--box-shadow);
    text-align: left;
  }
  
  .Employees td,
  .Employees th {
    background-color: var(--color-white);
    padding: 1rem;
    text-align: left;
  }
  
  .Employees td,
  .Employees th:last-child {
    text-align: center;
  }
  
  .details-group {
    display: flex;
    align-items: center;
  }
  
  .details-group:first-child {
    gap: 1rem;
    text-align: left;
  }
  
  .Employees .more-details {
    color: var(--color-primary);
    white-space: nowrap;
    padding: 0.1rem 1.2rem;
    border-radius: 18px;
    border: 1px solid var(--color-primary);
  }
  
 .Employees th {
    font-size: 1.2rem;
  }
  
  .contact-item {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .contact-item span {
    font-size: 1.3rem;
  }
  
  .Employees tr td * {
    cursor: pointer;
  }