.SettingsNav {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    margin-bottom: 2rem;
    color: var(--color-info-light);
}

.SettingsNav .btn {
    display: flex;
    align-items: flex-end;
    
}