.TopBar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.TopBar .menu {
  display: none;
}

.TopBar .brand {
  padding: 0.6rem 3rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 40px;
}

.TopBar .brand h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.TopBar p.text-muted {
  font-size: 0.9rem;
}

.TopBar .right-side {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.TopBar .right-side .icons .notifications {
  position: relative;
}
.TopBar .right-side .icons .person {
  position: relative;
}

.TopBar .search {
  padding: 0.6rem;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  border-radius: var(--border-radius-1);
}

.TopBar .search input[type="text"] {
  background-color: transparent;
  width: 15rem;
  font-family: poppins;
}

.TopBar .right-side .icons {
  display: flex;
  gap: 1.5rem;
}

.TopBar .right-side .icons span {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.6rem;
  border-radius: var(--border-radius-1);
}

@media screen and (max-width: 1200px) {
  .TopBar {
    padding: 0.7rem;
  }
}
@media screen and (max-width: 920px) {
  .TopBar {
    padding: 1rem;
  }

  .TopBar .brand, .TopBar .breadcrumbs {
    display: none;
  }

  .TopBar .right-side {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .TopBar {
    margin-top: 1rem;
  }

  .TopBar .menu {
    display: inline;
    cursor: pointer;
    font-weight: 800;
  }
}
