.EmployeeDetails.container {
    background-color: var(--color-white);
}

.EmployeeDetails .top {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    padding: 2rem 2rem 1rem 0;
    padding-top: 2rem;
}

.EmployeeDetails .top .left-side, .EmployeeDetails .top .right-side {
    display: flex;
    gap: 1rem;
}

.EmployeeDetails .top .left-side span {
    border: none;
    gap: 1rem;
}

.EmployeeDetails .top span {
    border: 1px solid var(--color-light);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 2px;
}

.EmployeeDetails main .top .menu {
    display: none;
}

.blue {
    color: #0F2D69 !important;
}


.EmployeeDetails .menus {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--color-light);
}

.EmployeeDetails .menus * {
    padding: 1rem;
    gap: 2rem;
    transform: translateY(3px);
    cursor: pointer;
}

.EmployeeDetails .active {
    border-bottom: 3px solid #0F2D69;
}

.EmployeeDetails .info-group {
    text-transform: capitalize;
}


.LeaveTab {
    margin: 2rem;
    /* width: max-content; */
    float: right;
    padding: 2rem;
    width: 70%;
    background-color: white;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);

}

.LeaveTab .content {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    align-items: flex-end;
}

.LeaveTab header p.primary {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--color-border-light);
    margin-bottom: 1rem;
}

.LeaveTab .left {
    flex-grow: 1;
}

.LeaveTab .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.LeaveTab .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.LeaveTab .value {
    font-weight: 600;
}

.LeaveTab .approve-btn {
    background-color: var(--color-success-darker);
}
.LeaveTab .reject-btn {
    background-color: var(--color-danger);
}

.LeaveTab button {
    color: var(--color-white);
    padding: 1rem 8rem;
    flex-grow: 1;
    border-radius: var(--border-radius-1);
}





@media screen and (max-width: 768px) {
    .LeaveTab {
        width: 100%;
        margin: 2rem 0;
    }

    .LeaveTab .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .LeaveTab .content .details {
        align-items: center;
    }
}



    