.Jumbotron {
  width: 100%;
  padding: 1rem;
  background-color: rgba(102, 129, 249, 0.5);
  padding-right: 3rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.Jumbotron .profile-photo {
  width: 180px;
  height: 180px;
}

.Jumbotron .summary-text {
  flex-grow: 1;
}

.Jumbotron .details .leave-info {
  gap: 0.3rem;
}

.Jumbotron .onleave-tag {
  padding: 0.1rem 1rem;
  width: max-content;
  border-radius: 25px;
  background-color: var(--color-white);
  color: var(--color-primary);
  text-transform: uppercase;
}

.Jumbotron .summary-text .details {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.Jumbotron .summary-text .more {
  display: flex;
  gap: 3rem;
  text-align: left;
}

@media screen and (max-width: 570px) {
  .Jumbotron {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-inline: 1rem !important;
  }

  .Jumbotron .details {
    flex-direction: column;
    align-items: center !important;
  }

  .Jumbotron .details .leave-info {
    align-items: center;
  }

  .Jumbotron .summary-text {
    text-align: center;
  }
}
