.LeaveTable {
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.LeaveTable .filters {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.LeaveTable .filter-option span:first-child {
  color: var(--color-blue-deeper)
}

.LeaveTable .filters .search-bar p {
    color: var(--color-seablue);
}

.SearchComponent {
  padding: 0.5rem 1rem;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  border-radius: 2px;
  border: 2px solid var(--color-border-light);
}

.SearchComponent input[type="text"] {
  background-color: transparent;
  width: 10rem;
  font-family: poppins;
}

.SearchComponent input {
  width: 100%;
}

.LeaveTable .right-side .filter-option span {
  padding: 0.3rem;
  padding-right: 0;
}

.LeaveTable .right-side .filter-option {
    display: flex;
    align-items: flex-end;
    border: 2px solid var(--color-border-light);
    /* gap: 0.3rem; */

}

.LeaveTable .filter-option select {
  padding-bottom: 0.3rem;
  padding-right: 2rem;
  padding-left: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-dark);
  appearance:  none;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
}

.LeaveTable .filter-option select option {
  padding: 1rem;
  background-color: transparent;
}

.LeaveTable:nth-child(2) {
  margin-bottom: 10rem;
}


@media screen and (max-width: 768px) {
  .LeaveTable {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 425px) {
  .LeaveTable .filters {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .LeaveTable .filters .search-bar {
    width: 100%;
    justify-content: flex-start;
  }
  .SearchComponent {
    justify-content: space-between;
  }  
}
