/* @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Sidebar {
    height: 100vh;
    background-color: var(--color-primary-variant);
    position: sticky;
    top: 0;
    overflow-x: hidden;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.Sidebar .sidebar-top {
    margin-top: 2rem;
    padding: 0 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.Sidebar  .sidebar-top h2 {
    width: 100%;
    font-size: 2rem;
    /* color: rgba(255, 255, 255, 0.85); */
    color: var(--color-primary);
    text-align: center;
    font-family: 'Lobster', cursive;
}
.Sidebar .sidebar-top .close-btn {
    display: none;
}

.Sidebar .sidebar-top span.logo {
    display: inline;
    font-size: 5.5rem;
    border: none;
    color: var(--color-primary);
}


.Sidebar .sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0 0 1.2rem;
}

.Sidebar .sidebar span {
    color: var(--color-white);
}

.Sidebar .sidebar a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: var(--padding-1);
    transition: all 300ms ease;
}
.Sidebar .sidebar a:hover {
    font-weight: 700;
    color: white;
}
.Sidebar a.active {
    background-color: var(--color-nav-background);
}

.Sidebar .sidebar p {
    font-size: 1rem;
    font-weight: 500;
}

.Sidebar .sidebar div:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: center;
    gap: 1.3rem;
}

.Sidebar .sidebar div:last-child p {
    display: none;
}

.Sidebar .sidebar div:last-child span {
    transition: all 200ms ease-in-out;
}

.Sidebar .sidebar div:last-child a:hover span {
    font-size: 2.5rem;
}




.translate-sidebar {
    display: fixed;
    transform: translateX(0) !important;
}


@media screen and (max-width: 920px) {
     .Sidebar {
        height: 100%;
    }

    .Sidebar .sidebar-top {
        flex-direction: column;
    }

    .Sidebar .sidebar-top h2 {
        display: none;
        justify-content: center;
    }

    .Sidebar .sidebar {
        margin-left: 0;
    }

    .Sidebar .sidebar a {
        justify-content: center;
    }

    .Sidebar .sidebar a span {
        transition: all 300ms ease;
    }

    .Sidebar .sidebar a p {
        display: none;
    }

    .Sidebar .sidebar a span:hover {
        font-size: 2rem;
    }

    .Sidebar .sidebar div:last-child {
        flex-direction: column;
        position: static;
        justify-content: flex-end;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Sidebar {
        width: 60%;
        top: 0;
        z-index: 5;
        transform: translateX(-120%);
        transition: all 500ms ease;
    }



    .Sidebar .sidebar-top {
        flex-direction: row;
        gap: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .Sidebar .sidebar-top .logo {
        font-size: 4rem;
    }

    .Sidebar .sidebar-top h2 {
        display: inline;
        text-align: left;
        font-size: 1.5rem;
    }

    .Sidebar .sidebar-top .close-btn {
        display: inline;
        position: absolute;
        color: var(--color-white);
        font-size: 3rem;
        top: 2rem;
        right: 1rem;
        cursor: pointer;

        transition: all 200ms ease;

    }


    .Sidebar .sidebar-top .close-btn:hover {
        transform: rotate(90deg);
    }

    .Sidebar .sidebar a {
        justify-content: start;
    }

    .Sidebar .sidebar a p {
        display: inline;
    }

    .Sidebar .sidebar div:last-child {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        align-items: start;
    }

    .Sidebar .sidebar div:last-child p {
        display: inline;
    }

}

@media screen and (max-width: 425px) {
    .Sidebar {
        width: 65%;
    }

    .Sidebar .sidebar {
        margin-top: 1.5rem;
        gap: 1rem;
    }
    
}