/* INSIGHTS */
.Employees main .insights {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.Employees main .insights .card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
  gap: 1rem;
}

.Employees main .insights .card span {
  font-size: 6rem;
}

.Employees main .insights .card:first-child {
  width: 25rem;
  justify-content: stretch;
}

.Employees main .insights .card:first-child .right-side {
  width: 100%;
}
.Employees main .insights .card progress {
  width: 100%;
  height: 10px;
  background-color: var(--color-background);
  border-radius: 12px;
}
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
  border-radius: 12px;
}

progress::-webkit-progress-bar {
  background-color: var(--color-background);
  border-radius: 12px;
}
progress::-webkit-progress-value {
  border-radius: 12px;
  background-color: var(--color-nav-background);
}
progress::-moz-progress-bar {
  background-color: var(--color-background);
  border-radius: 12px;
}

.employee-container {
  margin-top: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.employee-container .top-buttons {
  display: flex;
  justify-content: end;
  width: 100%;
}

.employee-container .top-buttons .button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-primary);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

/* =========== EMPLOYEES TABLE SECTION ============= */

.Employees table {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border-spacing: 0 1rem;
}
.Employees thead {
  box-shadow: var(--box-shadow);
  text-align: left;
}

.Employees td,
.Employees th {
  background-color: var(--color-white);
  padding: 1rem;
  text-align: left;
}

.Employees td,
.Employees th:last-child {
  text-align: center;
}

.details-group {
  display: flex;
  align-items: center;
}

.details-group:first-child {
  gap: 1rem;
  text-align: left;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-background);
  border: 3px solid var(--color-white);
  position: relative;
  transition: all 300ms ease;
  cursor: pointer;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Employees .more-details {
  color: var(--color-primary);
  white-space: nowrap;
  padding: 0.1rem 1.2rem;
  border-radius: 18px;
  border: 1px solid var(--color-primary);
}

th {
  font-size: 1.2rem;
}

.contact-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-item span {
  font-size: 1.3rem;
}

.Employees tr td * {
  cursor: pointer;
}

.num-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.num-controls * {
  cursor: pointer;
}

.num-controls .active {
  border-radius: 50%;
  text-align: center;
  padding: 0.07rem 0.6rem;
  color: white;
  font-weight: bold;
  background-color: var(--color-primary);
}
.range-num {
  padding: 0.2rem 1rem;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid var(--color-info-dark);
}

.range-num input {
  background-color: var(--color-background);
  max-width: 50px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.controls p {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 0 0.2rem;
  transition: all 200ms;
}

.controls p:hover {
  color: var(--color-info-light);
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 15rem auto;
  }

  .Employees main .topbar {
    padding: 0.7rem;
  }
}

@media screen and (max-width: 920px) {
  .container {
    grid-template-columns: 7rem auto;
  }

  /* MAIN */

  .Employees main {
    width: 94%;
  }

  .Employees main .topbar {
    padding: 1rem;
  }

  .Employees main .topbar .brand {
    display: none;
  }

  .Employees main .topbar .right-side {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 860px) {
  .Employees td,
  .Employees th {
    padding: 0.5rem;
  }

  .Employees .insights {
    flex-wrap: wrap;

  }

  .Employees .insights .card {
    width: 47% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  /* .Employees MAIN */

  .Employees main .topbar {
    margin-top: 1rem;
  }

  .Employees main .topbar .menu {
    display: inline;
    cursor: pointer;
    font-weight: 800;
  }

  .Employees main {
    position: absolute;
    width: 100%;
    padding: 1rem 2%;
  }
}

@media screen and (max-width: 580px) {

  .Employees .insights {
    flex-direction: column;
  }

  .Employees main .insights .card {
    width: 100% !important;
    /* justify-content: space-around; */
    justify-content: stretch;
    padding: 2rem;
  }

  .Employees main .insights .card .right-side {
    width: 100%;
  }


  .Employees table th:nth-child(2), .Employees table tr td:nth-child(2) {
    display: none;
  }





}
