@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ROOT VARIABLES */
:root {
    --color-primary: #5A75F8;
    --color-danger: #ff7782;
    --color-primary-variant: #0C2556;
    --color-white: #fff;
    --color-background: #F3F7F9;
    --color-info-light: #6980A2;
    --color-nav-background: #0F2D69;
    --color-seablue: #3397e9;
    --color-blue-deeper: #0076d6;
    --padding-1: 1.2rem;
    --color-dark: #4B5968;
    --color-border-light: #D5DDE5;
    --avatar-size: 50px;

    --color-success: #41f1b6;
    --color-success-darker: #17cf92;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;

    --color-purple: #7638e0;
    --color-pink: #e39add;
    --color-orange: #f09148;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

.orange {
    color: var(--color-orange);
}

.d-flex {
    display: flex;
    align-items: center;
}
.g1 {
    gap: 1rem;
}


.cp {
    cursor: pointer;
}




/* GENERIC STYLES */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    color: var(--color-dark);
    user-select: none;
    overflow-x: hidden;
}

input, button, select {
    font-family: poppins, sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: var(--color-info-light);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}
.danger {
    color: var(--color-danger);
}
.warning {
    color: var(--color-warning);
}
.success {
    color: var(--color-success);
}
.success-darker {
    color: var(--color-success-darker);
}

.seablue {
    color: var(--color-seablue);
}

.blue-deeper {
    color: var(--color-blue-deeper)
}

.fw-500 {
    font-weight: 500;
}


/* Avatar Styles */

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-background);
    border: 3px solid var(--color-white);
    position: relative;
    transition: all 300ms ease;
    cursor: pointer;

    flex-shrink: 0;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.avatar img {
    width: 100%;
    height: 100%;
}

.hidden-avatars {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: var(--color-border-light);
    color: var(--color-info-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid var(--color-white);

    transition: all 300ms ease;
}

.hidden-avatars:hover {
    background-color: var(--color-primary);
    color: white;
}

.material-symbols-sharp {
    cursor: pointer;

}





/* ==================== */




.CenteredModal {
    position: absolute;
    inset: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    animation: createBox 0.6s ease;
  }
  
  
  .CenteredModal .box {
    padding: 8rem 10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
  }
  
  .CenteredModal button {
    padding: 0.5rem  2rem;
    color: var(--color-dark);
    margin: 0 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 100ms;
    border-radius: var(--border-radius-1);
  }
  
  .delete-btn {
    color: var(--color-danger) !important;
  }
  
  .delete-btn:hover {
    background-color: var(--color-danger) !important;
    color: var(--color-white) !important;
  }










/* ==================== */